<p>product-list works!</p>
<div class="table-responsive">
    <table class="table mb-0"
           *ngIf="products && products.length">
      <thead>
        <tr>
          
          <th>ProductId</th>
          <th>Price</th>
          <th>Description</th>
          <th>ImageUrl</th>
          <th>Rating</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          
         
          <td>{{ product.productId }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.description}}</td>
          <td>{{product.imageUrl}}</td>
          <td>{{product.rating}}</td>
          
          <td>
            <button class="btn btn-outline-primary btn-sm" >
              Edit
            </button>
          </td>
          <td>
            <button class="btn btn-outline-primary btn-sm"  (click)="onDelete($event,product)"  >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center mt-4">
    <button class="btn btn-primary" (click)="addProduct()">Add Product</button>
  </div>




