<!-- This button triggers the overlay and is it's origin -->
<div class="container d-flex justify-content-center align-items-center">
    <div class="card py-4 bg-dark text-white"> <!-- Added bg-dark and text-white classes -->
      <div class="d-flex justify-content-center align-items-center">
        <div class="round-image">
          <img src="./assets/images/kisspng-computer-icons-avatar-login-user-avatar-5ac207e6c8c133.5629676315226654468223.png" class="rounded-circle" width="97">
        </div>
        <!-- <img src= "./assets/images/ecommerce.png" class="card-img" alt="Product Image"> -->
      </div>
  
      <div class="text-center">
        <h4 class="mt-3">{{user}}</h4>
        <span>Account</span>
  
        <div class="px-5">
          <p class="content">...........................</p>
  
          <a class="btn btn-primary follow" (click)="logout()" href="">Logout</a>
          
        </div>
      </div>
    </div>
  </div>
  

         

         
       